.aside {
  width: 30%;
  z-index: 0;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

.aside .aside-toggle {
  padding: 20px;
  padding-top: 2px;
  background-color: #212121;
  padding-bottom: 7px;
  position: relative;
}

.aside .fa-bars {
  color: white;
  font-size: 22px;
  margin-top: 7px;
  color: #aaaaaa;
}

.aside .aside-btn {
  border: 1px solid #212121;
  background-color: #212121;
  margin-top: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.aside .aside-btn:hover {
  background-color: #333;
}

.aside .aside-hour {
  margin-left: 60px;
}

.aside .aside-input {
  margin-left: 10px;
}

.aside .aside-input input {
  position: relative;
  background-color: #181818;
  border-radius: 18px;
  outline: none;
  padding: 5px;
  color: #ffffff;
  border: 1px solid #6E6E6E;
  overflow: hidden;
  padding: 8px 36px;
  padding-left: 45px;
  font-size: 18px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.aside .aside-input input:hover {
  border: 1px solid rgba(3, 3, 3, 0.842);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.aside .aside-input .fas {
  position: absolute;
  top: 30%;
  left: 23%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 501;
  color: #696f6f;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.aside .aside-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 17px;
}

.aside .aside-ntf {
  display: none;
  width: 100%;
  background-color: #212121;
  position: absolute;
  top: 263.5%;
  left: 50%;
  padding: 20px;
  margin-top: 34.5px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.aside .aside-ntf-item {
  padding: 7.2px 15px;
  margin: 2px 0px;
}

.aside .aside-ntf-item .aside-ntf-text {
  color: white;
  font-size: 19px;
  margin-left: 20px;
}

.aside .aside-ntf-item .settings-icon {
  font-size: 22px;
  color: #8B8B8B;
}

.aside .switch, .aside .switchs {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: 50px;
}

.aside .switch input, .aside .switchs input {
  opacity: 0;
  width: 0;
  height: 0;
}

.aside .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.aside .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.aside input:checked + .slider {
  background-color: #2196F3;
}

.aside input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.aside input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.aside .slider.round {
  border-radius: 34px;
}

.aside .slider.round:before {
  border-radius: 50%;
}

.aside .aside-ntf-item:hover {
  background-color: #3b3a3a;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.aside .aside-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside .aside-chats,
.aside .aside-channel {
  background-color: #212121;
  border: none;
  color: #6E6E6E;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.aside .aside-chats,
.aside .aside-channel {
  position: relative;
  display: inline-block;
  padding: 15px 15px 8px 15px;
  background-color: inherit;
  border: none;
  color: #aaa;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.aside .active {
  color: #8774E1;
}

.aside .active::after {
  position: relative;
  display: block;
  content: "";
  max-width: 100%;
  height: 4px;
  background-color: #8774E1;
  top: 10px;
  border-radius: 3px;
}

.aside .aside-menu, .aside .aside-search {
  padding: 15px;
  background-color: #212121;
}

.aside .aside-menu--none {
  display: none;
}

.aside .aside-chats:hover,
.aside .aside-channel:hover {
  color: #7767C4;
  background-color: #2B2B2B;
}

.aside .aside-menu {
  width: 100%;
  height: 81vh;
  overflow: scroll;
  overflow-x: hidden;
}

.aside .aside-user {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.aside .aside-info {
  margin-left: 10px;
}

.aside .aside-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.aside .aside-item:hover {
  background-color: #3b3a3a;
}

.aside .fa-bell-slash {
  margin-left: 15px;
  color: #6E6E6E;
}

.aside .aside-logo {
  width: 55px;
  border-radius: 50%;
}

.aside .aside-subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside .aside-subtitle {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside .aside-text {
  margin-left: 10px;
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6E6E6E;
}

.aside .aside-time {
  margin-left: 105px;
}

.aside .aside-time--mleft {
  margin-left: 125px;
}

.aside .aside-time--mmleft {
  margin-left: 175px;
}

.aside .aside-time--mmmleft {
  margin-left: 148px;
}

.aside .aside-circle {
  width: 30px;
  height: 30px;
  background-color: #6E6E6E;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-line {
  margin-top: -6px;
  border: 1px solid black;
}

.content {
  width: 35%;
  display: none;
  background-color: #212121;
  border-left: 1px solid black;
}

.content .content-header {
  margin-left: 1px;
}

.content .content-header,
.content .content-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 18px;
}

.content .content-header h2,
.content .content-profile h2 {
  margin-left: 25px;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.content .fa-times {
  font-size: 19px;
  font-weight: 501;
  color: #A5A5A5;
}

.content .fa-times-btn {
  background-color: #212121;
  border: none;
  padding: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}

.content .fa-times-btn:hover {
  background-color: #3b3a3a;
}

.content .fa-pencil-btn {
  cursor: pointer;
  background-color: #212121;
  border: none;
  color: #A5A5A5;
  font-size: 17px;
  padding: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.content .fa-pencil-btn:hover {
  background-color: #3b3a3a;
}

.content .content-avatar {
  position: relative;
}

.content .content-avatar img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .content-avatar .content-name {
  position: absolute;
  color: white;
  top: 85%;
  left: 30%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 18px;
}

.content .content-avatar .content-name span {
  font-size: 14px;
  color: #A5A5A5;
}

.content .content-contact {
  padding: 25px 20px 10px 30px;
}

.content .content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.content .content-item div {
  margin-left: 30px;
}

.content .content-item .fa-phone-alt,
.content .content-item .fa-at,
.content .content-item .fa-bell,
.content .content-item .fa-toggle-on {
  font-size: 25px;
  color: #6E6E6E;
}

.content .content-item a,
.content .content-item .content-username,
.content .content-item .content-notifications {
  color: white;
  text-decoration: none;
}

.content .content-item p {
  font-size: 15px;
  color: #6E6E6E;
  line-height: 25px;
}

.content .content-item .fa-toggle-on {
  color: #8774E1;
  font-size: 30px;
  margin-left: 40px;
}

.aside-item-active {
  background-color: #8774E1;
}

.aside-item-active:hover {
  background-color: #8774E1 !important;
}

.search-section {
  width: 42%;
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  padding: 25px;
}

.search-btn,
.search-calendar {
  border: none;
  background-color: #212121;
  font-size: 20px;
  color: #6E6E6E;
}

.search-input {
  margin-left: 20px;
  margin-right: 20px;
}

.search-input input {
  position: relative;
  border: 1px solid #6E6E6E;
  padding: 12px 30px;
  padding-left: 45px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #181818;
  outline: none;
  color: white;
}

.search-span {
  position: absolute;
  top: 7%;
  left: 76%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #6E6E6E;
  font-size: 18px;
}

.search-x-span {
  position: absolute;
  top: 7%;
  left: 91.5%;
  color: #6E6E6E;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
}

.aside-search {
  padding: 15px;
  background-color: #212121;
}

.search-btn, .search-calendar {
  background-color: #212121;
  border: none;
  padding: 8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.search-btn:hover, .search-calendar:hover {
  background-color: #3b3a3a;
}

.main {
  position: relative;
  width: 70%;
  padding-left: 1px;
  background-color: black;
}

.main .main-footer {
  position: absolute;
  width: 80%;
  top: 88%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main-logo {
  width: 50px;
  border-radius: 50%;
}

.main .main-header {
  background-color: #212121;
  padding: 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main .main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0px;
}

.main .main-title .main-name {
  color: #fff;
  margin-top: 5px;
}

.main .main-title .main-ntf {
  color: #727272;
  margin-left: 25px;
  margin-top: 3px;
}

.main .main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main-search-btn,
.main .main-menu-btn {
  border: none;
  background-color: #212121;
  color: #838383;
  font-size: 22px;
  font-weight: 300;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.main .main-search-btn {
  width: 50px;
  height: 50px;
  color: #838383;
  margin-right: 20px;
  padding: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main .fa-ellipsis-v {
  padding: 6px;
}

.main .main-menu-btn {
  width: 50px;
  height: 50px;
  color: #838383;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main .main-search-btn:hover,
.main .main-menu-btn:hover {
  background-color: #333;
}

.main .main-chats {
  width: 100%;
  height: 74vh;
  overflow: scroll;
  overflow-y: hidden;
}

.main .main-list {
  width: 90%;
  padding-top: 15px;
}

.main .main-l-start {
  text-align: start;
  background-color: #212121;
  padding: 7px 10px;
  padding-left: 14px;
  border-radius: 10px 0px 10px 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  max-width: 35%;
  color: white;
  font-size: 17px;
  margin-left: 60px;
  margin-top: 15px;
  -webkit-border-radius: 10px 10px 10px 0px;
  -moz-border-radius: 10px 0px 10px 10px;
  -ms-border-radius: 10px 0px 10px 10px;
  -o-border-radius: 10px 0px 10px 10px;
}

.main .main-l-end {
  margin-top: 15px;
  background-color: #8774E1;
  padding: 7px 10px;
  padding-left: 14px;
  border-radius: 10px 10px 10px 0px;
  color: white;
  font-size: 17px;
  max-width: 35%;
  margin: 10px 0px 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 10px 10px 10px 0px;
  -moz-border-radius: 10px 10px 10px 0px;
  -ms-border-radius: 10px 10px 10px 0px;
  -o-border-radius: 10px 10px 10px 0px;
}

.main .main-aside-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 10px;
}

.main .main-aside-item button {
  background-color: #212121;
  border: none;
  color: white;
  font-size: 19px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.main .main-aside-item .main-aside--active {
  color: red;
}

.main .main-aside {
  background-color: #212121;
  padding: 25px;
  display: none;
  position: absolute;
  top: 120%;
  left: 70%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.main .main-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main-info {
  margin-left: 25px;
}

.main .main-l-end .main-l-end-active {
  max-width: 25%;
}

.main .main-day {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

.main .main-l-time {
  font-size: 14px;
  color: #bbb8b8;
  margin-left: auto;
}

.main .main-message {
  width: 80%;
  background-color: #212121;
  padding: 10px 20px;
  text-align: start;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main-emoji-btn {
  background-color: #212121;
  color: #6E6E6E;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .main-emoji-btn:hover {
  color: yellow;
}

.main .main-input {
  background-color: #212121;
  border: none;
  margin-left: 10px;
  color: #6E6E6E;
  font-size: 18px;
  outline: none;
}

.main .main-download-btn {
  background-color: #212121;
  border: none;
  color: #6E6E6E;
  font-size: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.main .main-download-btn:hover {
  color: blue;
}

.main .main-download {
  margin-left: auto;
}

.main .main-microphone {
  background-color: #212121;
  border: none;
  width: 60px;
  height: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
  color: #6E6E6E;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.main .main-microphone:hover {
  background-color: #3b3a3a;
  color: blueviolet;
}

.main .main-header,
.main .main-chats,
.main .main-footer {
  display: none;
}

.main-microphone--active {
  margin-left: 10px;
}

.main-input--active {
  padding-right: 10px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark-mode {
  background-color: white;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.part .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
  -moz-transform: translateX(26px);
  -o-transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.part-light {
  background-color: white;
  color: black;
}
/*# sourceMappingURL=menu.css.map */