$bgColor:#212121;
$textColor:#6E6E6E;
$size: 20px;



.aside {
    width: 30%;
    z-index: 0;

    .aside-toggle {
        padding: $size;
        padding-top: 2px;
        background-color: $bgColor;
        padding-bottom: 7px;
        position:relative;
// z-index: -1;
        
        
    }

    .fa-bars {
        color: white;
        font-size: 22px;
        margin-top: 7px;
        color: rgb(170, 170, 170);
    }

    .aside-btn {
        border: 1px solid $bgColor;
        background-color: $bgColor;
        margin-top: 8px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: 0.3s;
        cursor: pointer;
    }

    .aside-btn:hover {
        background-color: #333;
    }
.aside-hour{
    margin-left: 60px;
}

    .aside-input {
        margin-left: 10px;

        input {
            position: relative;
            background-color: rgb(24, 24, 24);
            border-radius: 18px;
            outline: none;
            padding: 5px;
            color: #ffffff;
            border: 1px solid $textColor;
            overflow: hidden;
            padding: 8px 36px;
            padding-left: 45px;
            font-size: 18px;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
}

        input:hover {
            border: 1px solid rgba(3, 3, 3, 0.842);
            transition: 0.3s;
        }

        .fas {
            position: absolute;
            top: 30%;
            left: 23%;
            transform: translate(-50%, -50%);
            font-size: 18px;
            font-weight: 501;
            color: rgb(105, 111, 111);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
        }
    }

    .aside-part {
        display: flex;
        align-items: center;
        margin-top: 17px;
    }
    .aside-ntf{
        display:none;
        width:100%;

        background-color: $bgColor;
        position:absolute;
        top:263.5%;
        left: 50%;
        padding: $size;
        margin-top: 34.5px;
        

        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
}
  
.aside-ntf-item{
    padding: 7.2px 15px;
    // font-size: $size;
    
    margin:2px 0px;
    .aside-ntf-text{
        color: white;
        font-size: 19px;
        margin-left: $size;

    }
    .settings-icon{
        font-size: 22px;
        color: #8B8B8B;
    }
}
.switch, .switchs {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 50px;
    // margin-top: -$size;
  }
  
  /* Hide default HTML checkbox */
  .switch input, .switchs input{
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
.aside-ntf-item:hover{
    background-color:  #3b3a3a;

    border-radius: 10px;
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
    .aside-blok {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .aside-chats,
    .aside-channel {
        background-color: $bgColor;
        border: none;
        color: $textColor;
        font-size: 18px;
        transition: 0.3s;

    }

    .aside-chats,
    .aside-channel {
        position: relative;
        display: inline-block;
        padding: 15px 15px 8px 15px;
        background-color: inherit;
        border: none;
        color: #aaa;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        transition:0.3s;
    }

    .active {
        color: #8774E1;

    }

    .active::after {

        position: relative;
        display: block;
        content: "";
        max-width: 100%;
        height: 4px;
        background-color: #8774E1;
        top: 10px;
        border-radius: 3px;
    }

    .aside-menu, .aside-search {
        // overflow: scroll;
        // overflow-x: hidden;
        // overflow-y: scroll;
        // // scrollbar-color:black;
        padding: 15px;
        background-color: $bgColor;
    }

    

    .aside-menu--none {
        display: none;
        //     overflow: scroll;
        // overflow-x: hidden;
        // overflow-y: scroll;
    }

    .aside-chats:hover,
    .aside-channel:hover {
        color: #7767C4;
        background-color: #2B2B2B;
        
    }
.aside-menu{
    width: 100%;
    height: 81vh;
    overflow: scroll;
    overflow-x: hidden;

}

    .aside-user {
        padding: 12px;
        display: flex;
        cursor: pointer;
        align-items: center;
        border-radius: $size;

    }
.aside-info{
    margin-left: 10px;
}
.aside-item{
    display:flex;
    align-items: center;
    padding:8px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    user-select: none;
    transition: 0.3s;
    cursor: pointer;
}
    .aside-item:hover {
        background-color: #3b3a3a;
        
    }

    .fa-bell-slash {
        margin-left: 15px;
        color: $textColor;
    }

    .aside-logo {
        width: 55px;
        border-radius: 50%;


    }

    .aside-subtext {

        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
    }

    .aside-subtitle {
        // flex-direction: column;
        margin-left: 10px;
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: center;
    }

    .aside-text {
        margin-left: 10px;
        margin-top: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color:$textColor;
    }

    .aside-time {
        // color:red;
        margin-left: 105px;

    }

    .aside-time--mleft {
        margin-left: 125px;
    }

    .aside-time--mmleft {
        margin-left: 175px;
    }

    .aside-time--mmmleft {
        margin-left: 148px;
    }

    .aside-circle {
        width: 30px;
        height: 30px;
        // padding: 5px;
        background-color: $textColor;
        border-radius: 50%;
        object-fit: cover;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

.aside-line {
    margin-top: -6px;
    border: 1px solid black;
}
