
$bgColor:#212121;
$textColor:#6E6E6E;
$size:20px;
$secondSize:25px;






.main {
    position: relative;
    width: 70%;
    padding-left: 1px;
    // background-color: rgb(24, 24, 24);
    background-color: black;
    // overflow: scroll;
    // overflow-x: hidden;
    // overflow-y: scroll;


    .main-footer {
        position: absolute;
        width: 80%;
        top: 88%;
        left:10%;
        display: flex; 
        // justify-content:space-between;
        // align-items: center;
        // position: fixed; 
        
      
    }




    .main-logo {
        width: 50px;
        border-radius: 50%;



    }

    .main-header {
        background-color: $bgColor;
        padding: 10px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position:relative;
    }

    .main-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0px;

        .main-name {
            color: #fff;
            margin-top: 5px;
        }

        .main-ntf {
            color: #727272;
            margin-left: $secondSize;
            margin-top: 3px;
        }
    }

    .main-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-search-btn,
    .main-menu-btn {
        border: none;
        background-color: $bgColor;
        color: rgb(131, 131, 131);
        font-size: 22px;
        font-weight: 300;
        transition: 0.3s;
        cursor: pointer;


    }

    .main-search-btn {
        width: 50px;
        height: 50px;
        color: rgb(131, 131, 131);
        margin-right: $size;
        padding: 4px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .fa-ellipsis-v {
        padding: 6px;
    }

    .main-menu-btn {

        width: 50px;
        height: 50px;
        color: rgb(131, 131, 131);
        cursor: pointer;
        padding: 4px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

    }

    .main-search-btn:hover,
    .main-menu-btn:hover {
        background-color: #333;

    }

    .main-chats{
        width: 100%;
        height: 74vh;
        overflow: scroll;
        overflow-y: hidden;
// margin: 0px 5px 0px 15px;
// margin: 0 auto;
    }
    
.main-list{
    width:90%;
    padding-top: 15px;
    // margin: 0px 10px 0px 0px;
    // margin: 10px 60px;
    // margin-left: 20px;
    // mar
}
    

        .main-l-start {
            text-align: start;
            background-color: $bgColor;
            padding: 7px 10px;
            padding-left: 14px;
            border-radius: 10px 0px 10px 10px;
            justify-content: start;
            max-width:35%;
            color: white;
            font-size: 17px;
            margin-left: 60px;
            margin-top: 15px;
            -webkit-border-radius: 10px 10px 10px 0px;
            -moz-border-radius: 10px 0px 10px 10px;
            -ms-border-radius: 10px 0px 10px 10px;
            -o-border-radius: 10px 0px 10px 10px;
        }

        .main-l-end {
            margin-top: 15px;
            // text-align: end;
            background-color: #8774E1;
            padding: 7px 10px;
            padding-left: 14px;
            border-radius: 10px 10px 10px 0px;
            color: white;
            font-size: 17px;
            max-width: 35%;
            // margin-left: 300px;
            margin: 10px 0px 0px auto;
            
            display: flex;
            // align-items: center;
            -webkit-border-radius: 10px 10px 10px 0px;
            -moz-border-radius: 10px 10px 10px 0px;
            -ms-border-radius: 10px 10px 10px 0px;
            -o-border-radius: 10px 10px 10px 0px;
        }
    
    
.main-aside-item{
    display:flex;
    align-items:center;
    margin: 15px 10px;
    button{
        background-color:$bgColor;
        border:none;
        color: white;
        font-size: 19px;
        // padding: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
    .main-aside--active{
        color:red
    }
}

.main-aside{
    background-color: $bgColor;
    padding: $secondSize;
    display:none;
    position: absolute;
    top: 120%;
    left: 70%;
    // transform: translate(-50%, -50%);
   
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.main-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-info{
    margin-left: $secondSize;
}
    .main-l-end .main-l-end-active {
        max-width: 25%;
    }

    .main-day {
        color: white;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }

    .main-l-time {
        font-size: 14px;
        color: rgb(187, 184, 184);
        margin-left: auto;
    }

    .main-message {
        width: 80%;
         
        background-color: $bgColor;
        padding: 10px $size;
        // padding-left: $size;
        text-align: start;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        display: flex;
        // justify-content: space-between;
        align-items: center;
    }

    .main-emoji-btn {
        background-color: $bgColor;
        color:$textColor;
        border: none;
        font-size: 24px;
        cursor: pointer;
        border-radius: 50%;
        
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: 0.3s;
}
.main-emoji-btn:hover {
color:yellow;
}
    .main-input {
        // padding: 8px $secondSize;
        // padding-right: 50px;
        background-color: $bgColor;
        border: none;
        margin-left: 10px;
        color:$textColor;
        font-size: 18px;
        outline: none;
    }

    .main-download-btn {
        background-color: $bgColor;
        border: none;
        color:$textColor;
        font-size: 22px;
transition: 0.3s;
cursor: pointer;
    }
    .main-download-btn:hover{
        color:blue;
        
    }
.main-download{
    margin-left: auto;
}
    .main-microphone {
        background-color: $bgColor;
        border: none;
        width: 60px;
        height: 60px;
        transition: 0.3s;
        font-size: $secondSize;
        padding: 10px;
        border-radius: 50%;
        color:$textColor;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-left: 10px;
        cursor: pointer;
    }
    .main-microphone:hover{
        background-color: #3b3a3a; 
        color: blueviolet;
     
}  

    .main-header,
    .main-chats,
    .main-footer {
        display: none;

    }
  
}

// .main-footer--active{
//     margin: 50px 100px;
// }
.main-microphone--active{
    margin-left: 10px;
}
.main-input--active{
    padding-right: 10px;
}



// .main-chats{   width: 100%;
//     height: 81vh;
//     overflow: scroll;
//     overflow-x: hidden;
// }

